.content {
	max-width: 800px;
	margin: 0 auto;
}

.title,
.text {
	text-align: center;
}

.title {
	font-family: "Rochester", cursive;
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 62px;
}

.text {
	margin-bottom: 24px;
}
