.inputs {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.inputGroup {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
}

.inputGroup input {
	min-width: 0;
	width: 100%;
	height: 32px;
	border-radius: 12px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 800px;
	margin: 0 auto;
}

.errorMessage {
	color: red;
}

.submitBtn {
	background-color: #f0f0f0 !important;
	color: #000 !important;
}

.remove {
	position: absolute;
	background-color: transparent;
	border: 0;
	font-size: 24px;
	left: -24px;
}
