.inputs {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.inputGroup {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
}

.inputGroup input {
	min-width: 0;
	width: 100%;
	border-radius: 12px;
	padding: 8px;
	border: 1px solid #202020;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 800px;
	margin: 0 auto;
}

.errorMessage {
	color: #ad343e;
}

.submitBtn {
	background-color: #de6170 !important;
	color: #fff !important;
}

.submitBtn:hover,
.submitBtn:focus {
	background-color: #ad343e !important;
	transition: all 0.3s ease-in-out;
}

.remove {
	position: absolute;
	background-color: transparent;
	border: 0;
	font-size: 24px;
	left: -24px;
}

.submittedText {
	font-size: 40px;
	text-align: center;
}

.subtitle {
	text-align: center;
}
